# build artefacts
plugin.sketchplugin/Contents/Sketch
plugin.sketchplugin/Contents/Resources/_webpack_resources
plugin.sketchplugin/Contents/Resources/webview.js
plugin.sketchplugin/Contents/Resources/webview.js.map

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store
